@font-face {
    font-family: "MonumentExtended Regular";
    src: url(MonumentExtended-Regular.SFFAV6VO.woff2) format("woff2"); /*, url(MonumentExtended-Regular.WUUMIEFI.woff) format("woff"); */
    font-weight: 400;
    font-style: normal;
    font-display:swap
}

@font-face {
    font-family: "MonumentExtended UltraBold";
    src: url(MonumentExtended-UltraBold.V3YJPPWI.woff2) format("woff2"); /*, url(MonumentExtended-UltraBold.LLZXKRMM.woff) format("woff"); */
    font-weight: 400;
    font-style: normal;
    font-display:swap
}

* {
    margin: 2px;
    padding: 0;
    font-family: "MonumentExtended Regular","Courier New", monospace;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #050336;
}

.white {
    color: #fff;
}

h1 {
    font-family: "MonumentExtended UltraBold", "Courier New", monospace;
    font-size: 6.8vw;
}

h2 {
    font-family: "MonumentExtended UltraBold", "Courier New", monospace;
    font-size: 6vw;
}

.view-container {
    max-width: 100vw;
    max-height:100vh;
}

.title-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 35%;
}

.h2-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -60%);
    text-align: center;
}


.socials-container {
    display: flex;
    position: relative;
    max-width: 400px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.socials-container > a {
    margin-right: 64px;
    font-size: 1.5vw;
}

.socials-container > a:hover {
    color: rgba(255, 255, 255, 0.53);
}

.space_image img {
}

.space_image img:hover {
    opacity: 0.7;
}

.img-moon{
    position: fixed;
    min-width: 130px;
    width: 15%;
    right: 8%;
    top: 4%;
}

.img-astronaut{
    position: fixed;
    min-width: 125px;
    transform: rotate(-19deg);
    width: 12.5%;
    left: 50%;
    bottom: 16%;
}

.img-satellite{
    min-width: 150px;
    position: fixed;
    width: 18%;
    left: 7.5%;
    margin-top: 2%;
}

/*.footer {
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
}*/

/*SCROLLING TEXT*/
#maindiv{
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    bottom: 0.5%;
    width: 100%;
    font-size: 1.5vw;
}

#div1 {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

#div2 {
    display: inline-block;
    animation: marquee2 30s linear infinite;
    animation-delay: 15s;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

/*PROJECTS SCROLL ARROW*/
.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*NAVBAR*/
.nav-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, -60%);
    text-align: center;
}

.topnav {
    position: sticky;
    left: 50%;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3vw;
}

.topnav a:hover {
    color: rgba(255, 255, 255, 0.53);
}


.topnav a.active {
    color: #e0ecfb;
    text-decoration: underline;
    text-decoration-color: #e0ecfb;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: #e0ecfb;
    -webkit-text-decoration-style: wavy;
}

.topnav a.active > .topnav a:hover {
    color: rgba(255, 255, 255, 0.53);
}

/*CONTACT FORM*/
form {
    width: 35vw;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    background-color: #050336;
    overflow: hidden;
    border-radius: 10%;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #cbddf6;
    border: none;
}

input, textarea{
    background-color: #cbddf6;
    margin: 1vh;
}

input{
    height: 5.5vh;
}

label {
    font-size: 1.4vw;
    color: #ffffff;

}

.submit-button {
    left: 50%;
    position: relative;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #e0ecfb;
    border: 2px solid #150c7c;
    border-radius: 30px;
    box-shadow: #150c7c 6px 6px 0 0;
    color: #150c7c;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submit-button:hover {
    background-color: #fff;
}


.submit-button:active {
    box-shadow: #261d91 2px 2px 0 0;
    left: 50%;
    position: relative;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@media (min-width: 768px) {
    .submit-button {
        min-width: 120px;
        padding: 0 25px;
    }
}

/*contact socials*/
.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #e0ecfb;
}

.holder {
    height:80px;
    width:80px;
    text-align:center;
    padding:15px 4px 4px 4px;
    /*box-shadow:0 0 20px #aaa;*/
    margin:10px;
    border-radius:8px;
}
i{
    font-size: 0.75vw;
}
#title{
    display:block;
    color:#bbb;
    text-shadow:1px 1px 0 #111;
    background:#e8e8e8;
    box-shadow:0 0 10px #444;
    height:auto;
    width:100%;
    top:0;
    text-align:center;
    font-weight:300;
    font-size:40px;
    position:fixed;
}
.codepen:hover{
    /*background:#3d3d3d;
    color:#fff;*/
    color: #5b5b5b;
}
.dribbble:hover{
    /*background:#186668;
    color:#fff;*/
    color: #ea4c89;
}
.github:hover{
    /*background:#767676;
    color:#fff;*/
    color: #7d59ad;
}
.linkedin:hover{
    /*background:#336699;
    color:#fff;*/
    color: #3571c0;
}
.behance:hover{
    /*background:#859891;
    color:#fff;*/
    color: #75a89b;
}

